*{
  box-sizing: border-box;
}


body{
  float: left;
  width: 100%;
  margin: 0;
}

body #banniere{
  width: 100%;
  height:170px;
  float: left;
  background-color: #918055;
}

body #banniere #image{
  float:left;
  background-image: url(bl2.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;

}

body #banniere #header{
  float:right;
  display: inline;
}

body #banniere #header ul{
  list-style-type: none;
  display: inline-block;
  margin-right: 25px;
}

body #banniere #header li{
  display: inline;
}

body div#banniere input{
  border-radius: 8px;
}

body #fond{
  height: auto;
  width: 100%;
  display: block;
  text-align: center;
  float: left;
  background-color: #918055;

}

body #fond img{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

body #contenu1{
  width: 100%;
  height: auto;
  float: left;
}

body #contenu1 h1{
  padding-left: 35px;
}

body #contenu1 p{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%

}

body #contenu2 {
  height: auto;
  width: 100%;
  margin-top: 10px;
  display: block;
  float: left;
  text-align: center;
}

body #contenu2 #Im{
  display: inline-block;
  height: auto;
  width: 23%;
  background-color: #0576D6;
  margin-top: 10px;
  text-align: center;
}

body #contenu2 #Im img{
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

body #contenu2 #Im h2{
  text-align: center;
  color: red;
}

body #contenu2 #Im p{
  text-align: center;
}

body #geolocalisation{
  display: inline-block;
  float: left;
  width: 50%;
  margin-top: 35px;
  border-right: 2px solid;
}

body #geolocalisation h2{
  padding-left: 8%;
}

body #geolocalisation iframe{
  padding-left: 8%
}

body #formulaire{
  display: inline-block;
  float: right;
  width: 50%;
  margin-top: 35px;
  padding-left: 4%
}

body #formulaire input{
  width: 43%;
  margin-right: 2.5%;
  margin-top: 4%;
}

body #formulaire #mail{
  width: 98%;
  margin-right: 0px;
}

body #formulaire #fichier{
  width: 98%;
  margin-right: 0px;
}

body #formulaire textarea{
  margin-top: 4%;
  width: 98%;
}

body #formulaire #send{
  width: 25%;
  float: right;
}

body #footer{
  display: block;
  width: 100%;
  height: 45px;
  float: left;
  text-align: right;
  margin-top: 4%;
}

body #footer p{
  padding-right: 4%;
}

@media screen and (min-width: 415px) and (max-width: 800px) {

  body #banniere{
    height:190px;

  }

  body div#banniere div#image{
    text-align: center;
    width: 100%;
    background-position: center center;
    margin-top: 10px;
  }

  body div#banniere div#header{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  body div#fond img{
    width: 100%;
  }

  body div#contenu2 div#Im{
    display: inline-block;
    height: auto;
    width: 49%;
    background-color: #0576D6;
    margin-top: 10px;
    text-align: center;
  }

  body #contenu2 #Im img{
    height: 115px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  body #geolocalisation iframe{
    width: 100%;
  }

  body #formulaire input{
    width: 97.5%;
  }

  body #formulaire textarea{
    width: 97.5%;
  }

  body #formulaire #send{
    width: 97.5%;
  }

}
  @media screen and (max-width: 414px) {

  body #banniere{
    height:100px;
  }

  body div#banniere div#image{
    text-align: center;
    width: 100%;
    background-position: center center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body #banniere #image{
    height: 80px;
    width: 80px;
  }

  body div#fond img{
    width: 100%;
    height: 150px;
  }

  body div#contenu2 div#Im{
    display: inline-block;
    height: auto;
    width: 98%;
    background-color: #0576D6;
    margin-top: 10px;
    text-align: center;
  }

  body #contenu2 #Im img{
    height: 115px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  body div#geolocalisation{
    width: 100%;
    border-right: none;
    }

  body #geolocalisation iframe{
    width: 96%;
    padding-left: 0px;
    margin-left: 2%;
    margin-right: 2%;
  }

  body #formulaire{
    width: 100%;

  }

  body #formulaire input{
    width: 97.5%;
  }

  body #formulaire textarea{
    width: 97.5%;
  }

  body #formulaire #send{
    width: 97.5%;
  }


}
